body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 40px;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-bottom: 40px;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  width: 53%;
}

button[type="submit"] {
  background-color: #008CBA;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
}

button[type="submit"]:hover {
  background-color: #006A8E;
}

.weather-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.weather {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 60%;
}

.weather h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.weather p {
  font-size: 24px;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #008CBA;
  color: white;
  font-size: 16px;
}

@media (max-width: 480px) {
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }

  .container {
    margin: 0 10px; /* Reduced space on the sides */
    max-width: none; /* Allows the container to expand */
    padding: 20px; /* Reduced padding */
    text-align: center;
  }

  h1 {
    font-size: 36px; /* Larger font size for better readability */
    margin-bottom: 20px; /* Reduced bottom margin */
  }

  form {
    margin-bottom: 10px; /* Reduced bottom margin */
  }

  input[type="text"] {
    margin: 5px;
    padding: 15px; /* Increased padding for easier interaction */
  }

  button[type="submit"] {
    padding: 15px 25px; /* Increased padding for easier interaction */
  }

  .weather-container {
    margin-top: 10px; /* Reduced top margin */
  }

  .weather {
    padding: 25px; /* Increased padding for a more spacious layout */
    width: calc(100% - 50px); /* Increased width, accounting for padding */
  }

  .weather h2 {
    font-size: 30px; /* Larger font size for better readability */
    margin-bottom: 15px; /* Reduced bottom margin */
  }

  .weather p {
    font-size: 20px; /* Larger font size for better readability */
    margin-bottom: 5px; /* Reduced bottom margin */
  }

  footer {
    font-size: 14px; /* Slightly smaller font size for mobile */
  }
}
